.app-main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.noise-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
  pointer-events: none;
}

.welcome-text {
  pointer-events: auto;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
}