:root {
  font-family: 'Geist Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.03em;
  --page-margin-left: 10%;
  --page-margin-right: 2%;
  color-scheme: light dark;
  color: #000000;
  background-color: #d5d2da;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}